<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- 关于logback的配置： https://www.cnblogs.com/EasonJim/p/7810852.html -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder  class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy/MM/dd-HH:mm:ss.SSS}]-[%level]-[%thread]-[%class.%method:%line]-[%X] - %msg%n</pattern>
		</encoder>
	</appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
